- var utils = htmlWebpackPlugin.options.utils;
- var lang = htmlWebpackPlugin.options.language;

doctype html
head
  title= lang.orgName
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  //- <!--[if lte IE 8]>
  //- <script src='assets/js/ie/html5shiv.js'></script>
  //- <![endif]-->
  //- link(rel='stylesheet' href='assets/css/main.css')
  //- <!--[if lte IE 9]>
  //- <link rel='stylesheet' href='assets/css/ie9.css' />
  //- <![endif]-->
  //- <!--[if lte IE 8]>
  //- <link rel='stylesheet' href='assets/css/ie8.css' />
  //- <![endif]-->
body
  //- Header
  header#header
    h1#logo
      a(href='/')
        img#imgNavLogo.img-responsive(height='70' alt='logo')
    nav#nav
      ul
        each navItem in lang.nav
          li
            a.scrolly(class=navItem.class href=navItem.ref)= navItem.label
        //- li
        //-   a(href='#') Layouts
        //-   ul
        //-     li
        //-       a(href='left-sidebar.html') Left Sidebar
        //-     li
        //-       a(href='#') Submenu
        //-       ul
        //-         li
        //-           a(href='#') Option 1

  //- Home
  section#home
    .content
      header
        img#imgHome(alt='logo')
        p
          span#typedHome.newlines &nbsp;
    //- +arrow
    a.goto-next.scrolly(href='#mission') Next

  //- Mission
  section#mission.spotlight.style1.bottom
    span.image.fit.main
      img#imgMission(alt='')
    .content
      .container
        h2= lang.mission
    a.goto-next.scrolly(href='#program') Next

  //- Program
  section#program.spotlight.style2.right
    span.image.fit.main
      img#imgProgram(alt='')
    .content
      header
        h2= utils.toTitleCase(lang.program.title)
      each program in lang.program.program
        .row
          .4u(class='12u$(small)')
            span.icon.alt.major(class= (program.iconType ? program.iconType : 'fas'), class='fa-' + program.icon) &nbsp;
          .8u(class='12u$(small)')
            h3.no-margins= program.label
            h6= program.description
      ul.actions
        li
          a.button#expansionProgramButton Learn More
    .content.extra-wide(canvas='container' off-canvas='expansionProgram right overlay' style="overflow-y: scroll")
      header.major
        h2= lang.program.learnMore.title
      each line in lang.program.learnMore.content
        p= line
    a.goto-next.scrolly(href='#getInvolved') Next
    
  //- Get Involved
  section#getInvolved.spotlight.style3.left
    span.image.fit.main.bottom
      img#imgGetInvolved(alt='')
    .content
      header
        h2= utils.toTitleCase(lang.getInvolved.title)
        p= lang.getInvolved.subtitle
      p= lang.getInvolved.body
      ul.actions
        each action in lang.getInvolved.actions
          li
            case action.btnType
              when 'donate'
                 a.button.fix-width.special.modalDonateOpen(id=action.id)= action.label
              when 'form'
                a.button.fix-width.special.typeform-share(id=action.id href=action.ref data-mode='popup' data-submit-close-delay='1')= action.label
              default
                a.button.fix-width(id=action.id)= action.label
          br
          br
    .content.extra-wide(canvas='container' off-canvas='expansionGetInvolved left overlay')
      header.major
        h2= lang.getInvolved.learnMore.title
      each line in lang.getInvolved.learnMore.content
        p= line

    a.goto-next.scrolly(href='#about')

  //- Twitter
  //- section#twitter.wrapper.style1.special.fade-up
  //-   .container
  //-     header.major
  //-       h2= lang.twitter.title
  //-       p= lang.twitter.subtitle
  //-     .box.alt
  //-       .row.uniform
  //-   a.scrolly(href='#contact')
  //-     i.fas.fa-chevron-down &nbsp;

  //- About
  section#about.wrapper.style1.special.fade-up
    .container
      header.major
        h2= lang.about.title
        p= lang.about.subtitle
      .box.alt
        .row.uniform
          each person in lang.about.people
            section.4u(class='6u$(medium) 12u$(xsmall)')
              a.modalBioOpen.modalOpen.no-border(bio=person.bio)
                img.rounded(id=person.image height='120')
                h3.no-margins= person.name
                p= person.title
    a.goto-next.scrolly(href='#contact') Next
      //- footer.major
      //-   ul.actions
      //-     li
      //-       a.button(href='#') Magna sed feugiat

  //- Contact
  section#contact.wrapper.style2.special.fade
    .container
      header
        h2= lang.contact.title
        p= lang.contact.subtitle
      h3= lang.contact.mailingList.title
      //- Begin MailChimp Signup Form
      form.container(method='post' action='https://codeourdreams.us4.list-manage.com/subscribe/post?u=ba33923537f6f12d7c344941d&amp;id=d3a0b722b3' class='50%')
        input(type='hidden' name='b_ba33923537f6f12d7c344941d_d3a0b722b3' value='')
        .row.uniform(class='50%')
          .6u(class='12u$(xsmall)')
            input#email(type='text' name='FNAME' placeholder= lang.contact.mailingList.firstName)
          .6u(class='12u$(xsmall)')
            input#email(type='text' name='LNAME' placeholder= lang.contact.mailingList.lastName)
          .8u(class='12u$(xsmall)')
            input#email.required(type='email' name='EMAIL' placeholder= lang.contact.mailingList.email required=true)
          .4u(class='12u$(xsmall)')
            input.fit.special(type='submit' value= lang.contact.mailingList.button)
      hr
      h3= lang.contact.message.title
      form.container(method='post' action='https://formspree.io/info@codeourdreams.org' class='75%')
        input(type='hidden' name='_subject' value='Website Submission')
        input(type='hidden' name='_next' value='https://www.codeourdreams.org/#contact')
        .row.uniform
          .6u(class='12u$(xsmall)')
            input#name(type='text' name='name' placeholder= lang.contact.message.name)
          .6u(class='12u$(xsmall)')
            input#email(type='email' name='email' placeholder= lang.contact.message.email required=true)
          .12u
            textarea#message(name='message' rows='5' placeholder= lang.contact.message.message)
          .12u
            input.fit.special(type='submit' value= lang.contact.message.button)

  //- Footer
  footer#footer
    ul.icons
      each service in lang.footer.socialMedia
        li
          a.icon.alt(href= service.ref target='_blank')
            i(class= service.iconType class='fa-' + service.icon) &nbsp;
            span.label= service.label
          
    ul.copyright
      li
        strong Copyright
        |  &copy; 2018-#{ new Date().getFullYear() } #{ lang.orgName }. All Rights Reserved.
      each link in lang.footer.links
        li
          a(href=link.ref target='_blank')= link.label
      li
        | Made with&nbsp;
        i.fas.fa-heart &nbsp;
        |&nbsp;by&nbsp;
        a(href='https://www.seliglabs.com' target='_blank') Selig Labs

  .modal#modalBio
    .modal-content
      .modal-header
        span.close#modalBioClose &times;
        h2.Modal= lang.modalBio.header
      .modal-body
        .row
          .6u(class='12u$(xsmall)')
            img.auto-size-image#modalBioImg
          .6u(class='12u$(xsmall)')
            h3.no-margins#modalBioName  &nbsp;
            p#modalBioTitle &nbsp;
            p#modalBioBio &nbsp;

  .modal#modalDonate
    .modal-content
      .modal-header
        span.close#modalDonateClose &times;
        h2.Modal= lang.modalDonate.header
      .modal-body
        form#payment-form(method='post')
          .form-row
            .row.uniform
              .6u(class='12u$(xsmall)')
                label Donor Information
                  input#cardholder-name(type='text' name='name' placeholder='Name')
                  input#cardholder-email(type='email' name='email' placeholder='Email')
              .6u(class='12u$(xsmall)')
                label Credit or Debit Card Information
                input#payment-anount(type='number' name='amount' placeholder='Amount' min='1' step='any')
                br
                br
                #card-element &nbsp;
                  // A Stripe Element will be inserted here.
                // Used to display form errors.
              .row
              .12u
                #card-errors(role='alert')
          button.button.special.btn.btn-primary.btn-lg(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order") Submit Payment



  script(src='https://js.stripe.com/v3')