- var test = 'something'

doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title #{htmlWebpackPlugin.options.english.orgName}
	meta(name='description', content='Code Our Dreams is dedicated to teaching students computer science, so that they may be equipped to build applications that drive positive change in our communities.')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	//- link(rel='apple-touch-icon', href='apple-touch-icon.png')

body
	section.first-section
		.container
			.row
				.col-md-12
					.text-content
						h2 #{ htmlWebpackPlugin.options.english.orgName }
						.line-dec
						span #{ htmlWebpackPlugin.options.english.subtitle }
	section.second-section
		.container
			.row
				each value, index in htmlWebpackPlugin.options.english.values
					.col-md-3.col-sm-6
						.service-item
							.icon
								img(id='value'+index, alt=value.alt)
								h4 #{ value.title }
								p #{ value.detail }
	section.third-section
		.container
			.row
				.col-md-10.col-md-offset-1
					.left-image.col-md-4
						img#missionImg(alt=htmlWebpackPlugin.options.english.missionImgAlt)
					.right-text.col-md-8
						h4
							em #{ htmlWebpackPlugin.options.english.missionSuperTitle }
							br
							| #{ htmlWebpackPlugin.options.english.missionTitle }
						p #{ htmlWebpackPlugin.options.english.missionBody }
	section.fourth-section
		.container
			.row
				each person, index in htmlWebpackPlugin.options.english.people
					.col-md-3.col-sm-6
						.portfolio-item.first-item
							.image
								a(id='bigPerson'+index, data-lightbox='image-'+index)
									img(id='imgPerson'+index)
							.text
								h4 #{ person.name }
								span #{ person.title}
				//- .col-md-3.col-sm-6
				//- 	.send-to-portfolio
				//- 		span Do you want to see more?
				//- 		.primary-button
				//- 			a(href='portfolio-page.html') Visit gallery
	section.fifth-section
		.container
			.row
				.col-md-10.col-md-offset-1
					.left-text.col-md-8
						h4
							em #{ htmlWebpackPlugin.options.english.programSuperTitle }
							br
							| #{ htmlWebpackPlugin.options.english.programTitle }
						p #{ htmlWebpackPlugin.options.english.programBody }
						.right-image.col-md-4
						img#programImg(alt=htmlWebpackPlugin.options.english.programImgAlt)
	section.sixth-section
		.container
			.row
				.col-md-6
					.row
						form#contact(action='', method='post')
							.col-md-6
								fieldset
									input#name.form-control(name='name', type='text', placeholder=htmlWebpackPlugin.options.english.yourName required)
							.col-md-6
								fieldset
									input#email.form-control(name='email', type='email', placeholder=htmlWebpackPlugin.options.english.yourEmail, required)
							.col-md-12
								fieldset
									textarea#message.form-control(name='message', rows='6', placeholder=htmlWebpackPlugin.options.english.yourMessage, required='')
							.col-md-12
								fieldset
									button#form-submit.btn(type='submit') #{ htmlWebpackPlugin.options.english.sendMessage }
				.col-md-5
					.right-info
						ul
							li
								a(href='#')
									i.fa.fa-envelope 
									| #{ htmlWebpackPlugin.options.english.email }
							li
								a(href='#')
									i.fa.fa-phone
									| #{ htmlWebpackPlugin.options.english.phone }
							li
								a(href='#')
									i.fa.fa-map-marker
									| #{ htmlWebpackPlugin.options.english.address }
	footer
		.container
			.row
				.col-md-12
					ul
						li
							a(href='https://www.facebook.com/CodeOurDreams')
								i.fa.fa-facebook
						li
							a(href='https://twitter.com/CodeOurDreams')
								i.fa.fa-twitter
						li
							a(href='https://www.instagram.com/CodeOurDreams')
								i.fa.fa-instagram
					p Copyright © 2018 Code Our Dreams. All Rights Reserved. 
						|  | Made with 
						i.fa.fa-heart.heart
						|  by 
						a(href='http://www.seliglabs.com') Selig Labs